.subheader{
    
    position:static;
    top:15px;
    left:10px;
    padding:50px;
     background-image: url("americanflag-proj.jpg");
     
}
.header { 
    
    color: blue;
    font-family: Bauhaus93;
    font-size: 20px;
    text-align:center;
    
}
.content{
    position:relative;
    width:450px;
    height:300px;
   left:100px;
   font-size:25px;
   
}

h3{
    display:inline-block;
    
}
.footer{

}
*{
    background-color:lightpink;
}
img{
    float:right;
    position:relative;
    bottom:300px;
    margin:auto;
   padding:50px;
}
#email{
    position:relative;
    bottom:20px;
}