.header { 
    text-align: center;
    border: solid red 5px;
    color: blue;
    font-family: Bauhaus93;
    font-size: 20px;
}
.content{
    text-align: center;
}
.footer{
    text-align:center;
}
#image{
    padding:15px;
    margin-bottom:6px;
}