.subheader{
    
    position:static;
    top:15px;
    left:10px;
    padding:50px;
     border: solid red 5px;
}
.header { 
    text-align: center;
   
    color: blue;
    font-family: Bauhaus93;
    font-size: 20px;
    position:absolute;
    top:10px;
    left:600px;
}
.content{
    
}
.footer{
    
}
body{
text-align:center;
}